.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
    width: 100%;
}

/* .about-section > div:first-child {
    height: 80vh;
} */

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 50%;
}

.about-text p{
    text-align: justify;
    width: 60%;
    font-size: 20px;
    margin: .55rem;
}

.left-adjust, .left-adjust-section p {
    margin-left: 20%;
}

.left-adjust-section p {
    text-align: justify;
    width: 60%;
    font-size: 18px;
    margin: 0.55rem;
}

.see-more-toggle {
    cursor: pointer;
    text-decoration: underline;
}

.about-text button {
    margin-top: .55rem;
    margin-left: 20%;
}

.about-text h2 {
    width: 60%;
    padding-bottom: 5px;
}

.about-text p.new-friend, span.new-friend {
    font-style: italic;
}

.about-text p a {
    font-size: 20px;
}

span.exhibition-description a {
    font-size: 18px;
    text-decoration: none;
}

.about-section {
    display: flex;
}

.form-circles {
    display: flex;
    justify-content: center;
    margin: .25em 0;
}
.form-circle {
    width: 120px;
    height: 120px;
    margin: 1em .5em;
}

.toggle-btn {
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-device-width: 500px){
    .about-text p {
        width: 90%
    }

    .left-adjust, .left-adjust-section p, .about-text button {
        margin: 1em
    }

    .about-text h2 {
        width: 100%;
        margin: 1rem;
        padding: 0 1rem;
    }
}
