.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
    width: 100%;
}

/* .about-section > div:first-child {
    height: 80vh;
} */

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 50%;
}

.about-text p{
    text-align: justify;
    margin: .55rem;
    width: 60%;
    font-size: 20px;
}

.about-text p.new-friend, span.new-friend {
    font-style: italic;
}

.about-text p a {
    font-size: 20px;
}

.about-text span.exhibition-description {
    font-size: 18px;
}

.about-section {
    display: flex;
}

.form-circles {
    display: flex;
    justify-content: center;
    margin: .25em 0;
}
.form-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 .5em;
}

.toggle-btn {
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
}

.external-link-icon {
    width: 17px;
    color: #333;
}

@media screen and (max-device-width: 500px){
    .about-text p {
        width: 85%
    }
}