.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
    width: 100%;
}

/* .about-section > div:first-child {
    height: 80vh;
} */

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 50%;
}

.about-text h2 {
    text-decoration: underline;
}

.about-text p{
    text-align: justify;
    margin: .55rem;
    width: 60%;
    font-size: 20px;
}

.about-text p a {
    font-size: 20px;
}

.about-text span.exhibition-description {
    font-size: 18px;
}

.about-section {
    display: flex;
}

.form-circles {
    display: flex;
    justify-content: center;
    margin: .25em 0;
}
.form-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 .5em;
}