.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px 5px 0;

    clear: both;
    position: relative;
    min-height: 50px;
    background-color: #88c1e9;
    margin-top: 1rem;
}

.footer section {
    position: absolute;
    bottom: 0;
}

.footer p {
    font-size: 24px;
    color: #f7f1e3;
}

.footer span {
    margin: 0 10px;
}

.footer span:last-child {
    margin-left: 0;
}

.mailing-list {
    border: none;
    border-bottom: 2px solid #0c0c0c;
    background: none;
    width: 300px;
    font-size: 16px;
    text-align: center;
}

.mail-me {
    outline: none;
    background: none;
    border: 2px solid #0c0c0c;
    margin-left: 5px;
    font-size: 16px;
}

.mail-me:hover {
    background: #0c0c0c;
	color: #fff;
	border: 2px solid #fff;
}

@media screen and (max-device-width: 700px){
	.footer p {
        font-size: 18px;
    }
    
    .footer {
        margin: .5% 0;
    }
}