.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px 5px 0;

    clear: both;
    position: relative;
    height: 50px;
    margin-top: -50px;
}

.footer p {
    margin: 0 20px;
}

.mailing-list {
    border: none;
    border-bottom: 2px solid #0c0c0c;
    background: none;
    width: 300px;
    font-size: 21px;
    text-align: center;
}

.mail-me {
    outline: none;
    background: none;
    border: 2px solid #0c0c0c;
    margin-left: 5px;
}

.mail-me:hover {
    background: #0c0c0c;
	color: #fff;
	border: 2px solid #fff;
}