.header-block {
	display: flex;
	justify-content: space-between;
	margin: 2.5% 5%;
}

#header {
	font-family: 'Merriweather', Helvetica, serif;
	text-decoration: underline;
	margin-top: 0;
	font-size: 30px;
	color: #0c0c0c;
}

#header:hover {
	cursor: pointer;
}