.header-block {
	display: flex;
	justify-content: space-between;
	margin: 3.5% 5%;
}

.header-block a {
	text-decoration: none;
}

#header {
	font-family: 'Merriweather', Helvetica, serif;
	margin-top: 0;
	font-size: 21.5px;
	color: #0c0c0c;
}

#header:hover {
	cursor: pointer;
}