/* RESETS */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #0c0c0c;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Helvetica', serif;
  }

  h1 {
    font-weight: bold;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
/* END OF RESETS */


/* GENERAL STYLES */

* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    /*overflow: hidden;*/
    background: #f7f1e3;
    margin: 5px;
    height: 100%;
    min-height: 100%;
}

button, input {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    outline: none;
}

p, button, a{
    font-size: 22.5px;
}

button, .button {
    outline: none;
    background: #1e272e;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 4px 4px #ffcccc;
}

button:hover, .button:hover {
    background: #203748;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 8px 8px #ffcccc;
}

.filter-button-container {
  display: flex;
  justify-content: center;
  margin: 1em;
} 
.filter-button, .filter-button:hover {
  outline: none;
  background: none;
  color: initial;
  border: none;
  box-shadow: none;
  padding: 5px;
}
.filter-button:hover {
  text-decoration: underline;
}

a {
  color: inherit;
} a:hover {
  color: #88C1E9;
  font-style: italic;
}

.techy-button {
  font-size: 18px;
  font-family: 'PerfectDOS', 'Courier', 'Inconsolata', sans-serif;
}

.external-link-icon {
  width: 16px;
  color: #333;
}

.main-header-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Oswald', Helvetica, sans-serif;
  text-transform: uppercase;
  color:#ffcccc;
  font-size: 3.5rem;
  text-shadow: 1.5px 1.5px #ffb8b8;
  word-spacing: 10px;
  animation: blinking 3s linear infinite;
  z-index: 100;
}

@keyframes blinking {
	50% {
        opacity: 0
    }
}

@-webkit-keyframes blinking {
    50% {
        opacity: 0
    }
}

@media screen and (max-device-width: 700px){
  p, button, a {
    font-size: 18px;
  }
}