.uzomas {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

.uzomas-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Oswald', Helvetica, sans-serif;
    text-transform: uppercase;
    color:#ffcccc;
    font-size: 3.5rem;
    text-shadow: 1.5px 1.5px #ffb8b8;
    word-spacing: 10px;
    animation: blinking 3s linear infinite;
    z-index: 100;
}

area {
    cursor: pointer;
}

#choice-text {
    position: absolute;
    left: 0;
    bottom: 25px;
    right: 0;
    text-align: center;
}

#choice-text h1 {
    font-family: 'Oswald', Helvetica, sans-serif;
    text-transform: uppercase;
    color:#222f3e;
    font-size: 2rem;
    text-shadow: 1.5px 1.5px #ee5253;
    word-spacing: 10px;
}

.user-choice:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
  
@keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@keyframes blinking {
	50% {
        opacity: 0
    }
}

@-webkit-keyframes blinking {
    50% {
        opacity: 0
    }
}