.wrapper {
    padding: 0 5%;
}

.image-wrapper {
    margin-bottom: 3rem;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 20px;
    border: 4px solid #fff;
}

.header-text {
    font-size: 4rem !important;
    font-weight: bolder;
    display: inline-block;
    white-space: nowrap;
    animation: none !important;
    position: relative !important;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee {
    display: flex;
    gap: 2rem; /* Adjust spacing between repeats */
    animation: marquee-scroll 15s linear infinite;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
  
.updates {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.update {
    width: calc(33.3% - 2rem);
    margin: 1rem;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.update:hover {
    background: rgb(255, 204, 204, 0.7);
}

.update:hover > p {
    font-weight: bolder;
}

.update img {
    border-radius: 10px;
}

.update-title {
    margin-top: 1rem
}

@media screen and (max-device-width: 768px){
    .banner {
        height: 250px;
        margin: 2.5rem 0;
    }

    .update {
       width: calc(100% - 2rem);
    }
}