.navigation-menu-btn {
	cursor: pointer;
}

.navigation-close-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

.navigation-menu {
    position: absolute;
    top: 0;
    background: #f7eee3;
    right: 0;
    width: 30%;
    height: 100%;
    font-family: 'Merriweather', 'Helvetica', serif;
    animation: menu-slidein .2s;
}

.menu-is-open {
    animation: menu-slideout .2s;
}

.navigation-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    height: 100%;
}

.navigation-menu a, .mailing-list {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 24px;
    cursor: pointer;
    /* border-bottom: 1.5px solid #0c0c0c;  */
}

.navigation-menu a {
    text-decoration: none;
}

.navigation-menu-desktop {
    display: flex;
}

.navigation-menu-desktop ul li {
    display: inline;
    margin: 0 7.5px;
}

.navigation-menu-desktop ul a, .mailing-list {
    text-decoration: none;
    font-size: 21px;
    word-spacing: -5px;
}

.navigation-menu-desktop ul a:hover, .mailing-list:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline !important;
}

.communication-links {
    margin-left: .5em;
}

.communication-links li a:hover {
    text-decoration: underline;
}

#portfolio {
    display: inline-block;
    vertical-align: top;
}

#portfolio ul {
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
}

#portfolio ul.display-portfolio-links {
    opacity: 1;
    max-height: 500px;
}

#portfolio ul li {
    margin: .125rem 0;
}

#portfolio ul li a {
    font-size: 1.125rem;
}

#portfolio ul li::before {
    content: '•'
}

#portfolio:hover > ul.enable-hover-effect {
    opacity: 1;
    max-height: 500px; /* Set a high enough value */
}

@keyframes menu-slidein {

    from {
        left: 100%
    }

    to {
        left: 70%
    }
}

@keyframes menu-slideout {

    from {
        left: 70%
    }

    to {
        left: 100%
    }
}

@media screen and (max-device-width: 700px){
    .navigation-menu {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        position: fixed;
    }

    .navigation-menu ul {
        height: unset;
    }

    .active {
        background: #1e272e;
        color: #fff;
    }

    .navigation-menu a {
        font-size: 18px;
        padding: .75rem;
    }

    .navigation-menu li {
        font-size: 18px;
    }

    .active {
        text-decoration: none !important;
    }

    .communication-links {
        display: inherit;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }

    .communication-links li {
        margin-left: .5em;
        font-size: 32px;
    }

    .navigation-close-btn {
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-device-width: 400px){
    .navigation-menu {
        width: 55%;
        position: fixed;
    }
}