.projects, .terminal-project {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	margin: 5%;
	margin-top: 2.5%;
}

/* PROJECT DISPLAY ON TECH PAGE */

.project-left {
	width: 65%;
	margin-right: 5%;
}

.project-left p {
	color: #292929;
}

.project-left > * {
	margin: 1.5% 0;
}

.project-left > div {
	width: 80%
}

.project-title {
	font-size: 1.75rem;
}

.project-description {
	font-size: 21px;
}

.project-right {
	width: 30%;
	text-align: right;
}

.project-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-right > * {
	margin: 1.5% 0;
}

.project-right p {
	text-transform: uppercase;
	font-size: 20px;
	color: #292929;
}

.project-navigation svg {
	font-size: 36px;
	cursor: pointer;
} .project-navigation svg:first-child { margin-right: 1%}

.project-navigation svg:hover {
	color: pink
}

.projects li, .project-link {
	max-width: 45%;
	margin: 1.5% 2.5%;
	margin-top: 0;
}

.terminal-project {
	justify-content: space-evenly;
}

.terminal-project li, .project-link{
	max-width: 15%;
}

.project-link {
	text-decoration: none;
}

.projects li article {
	cursor: pointer;
}

.projects li article p {
	font-size: 1.25rem;
	margin: 1em 0;
}

.filter-modal {
	position: absolute;
    right: 0;
    left: 0;
    width: 50%;
	margin: auto;
	background-color: #f7f1e3;
	border: 2px solid #fff;
	box-shadow: 15px 15px #f6cbcb;
	padding: 2.5em;
}

.filter-modal .options {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	padding: 2.5em .5em;
}

.filter-modal .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header button {
	font-weight: bold;
	font-size: 24px;
	font-family: 'Merriweather', serif;
}

.filter-modal .options div {
	width: 33.3%;
	display: flex;
    flex-direction: column;
	align-items: center;
	cursor: pointer
}

.filter-modal .options div img {
	max-width: 100%;
	margin: .5em 2em;
}

@media screen and (max-device-width: 768px){
	
	.projects {
		flex-direction: column;
		margin: 0;
	}

	.project-left, .project-left > div, .project-right {
		width: unset;
	}

	.project-left, .project-right { 
		text-align: center;
	}

	.project-left > *, .project-right > *{
		margin: 2.5% 0;
	}

	.project-left {
		margin: 1%;
	}

	/* A hacky way to ensure a margin above and below the image on mobile */
	.project-left p { margin-bottom: 5%;} .project-navigation { margin-top: 2.5%}

	.project-navigation svg {
		font-size: 42px;
	}

	.tech-projects .format-text, .projects li article p {
		text-align: center;
	}
}