.terminal {
    font-family: 'Courier';

    height: 100vh;
    background: #fff;
    padding: 15px;

}

.terminal p {
    font-size: 18px;
}

.terminal ul li {
    font-size: 13px;
    margin: 2px 0;
}

.terminal input {
    margin: 1em 0;
    border: none;
    width: 100%;
    font-size: 15.5px;
}

.terminal code {
    background: #0c0c0c;
    color: pink;
    padding: 2px;   
}

#all-projects, #single-project {
    display: none
}

#single-project {
    background: #fff;
}

.all-terminal-projects {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	width: 100vw;
	margin-left: .5%;
	padding: 0
}

.all-terminal-projects {
	justify-content: space-evenly;
}

.all-terminal-projects li {
	max-width: 15%;
}