@font-face {
    font-family: 'PerfectDOS';
    src: url('../fonts/perfect_dos.ttf');
}

.terminal {
    font-family: 'PerfectDOS', 'Courier', sans-serif;

    height: 100vh;
    color: #fff;
    padding: 15px;

}

.terminal p {
    font-size: 21px;
    margin-bottom: 1em;
}

.terminal ul li {
    font-size: 21px;
    margin: 2.5px 0;
}

.terminal input {
    margin: 1em 0;
    border: none;
    width: 100%;
    font-size: 22.5px;
    background: #1e272e;
    color: #fff;
    font-family: 'PerfectDOS', 'Courier', sans-serif;
}

.terminal code {
    background: #0c0c0c;
    color: pink;
    padding: 2px;
    font-family: 'PerfectDOS', 'Courier', sans-serif;
}

#all-projects, #single-project {
    display: none
}

#single-project {
    background: #1e272e;
}

.all-terminal-projects {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin-left: .5%;
	padding: 0
}

.all-terminal-projects {
	justify-content: space-evenly;
}

.all-terminal-projects li {
	max-width: 15%;
}

@media screen and (max-device-width: 700px){
    .terminal {
        padding: 2.5px;
    }

    .terminal p, button, a {
        font-size: 15px;
    }
}