.visual header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.visual header a {
    margin: .5em;
}

.visual h2 {
    text-transform: capitalize;
    text-align: center;
    margin: 1em auto;
}

.back {
    cursor: pointer;
    background: #1e272e;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
    margin-top: 2em;
    font-size: 22.5px;
}

.visual .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 15%;
    text-align: justify;
}

.visual .tech-text {
    width: 50%;
    margin: auto;
}

.visual .text a {
    margin-top: 5em;
}

.visual .text p {
    margin: 1em;
    font-size: 20.5px;
} .visual .text a {
    font-size: 20.5px;
}

.visual .tech-text p {
    margin: 1em 0;
    font-size: 18.5px;
} .visual .tech-text a {
    font-size: 18.5px;
}

.tech-font-size {
    font-size: 18.5px;
}

.url {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
} .url a { text-decoration: 2px #0c0c0c dotted !important;}

.visual .text button {
    width: 100%;
    margin: 1em 0;
}

.visual .images {
    width: 50%;
    margin: auto
}

.visual .images li {
    margin: 1% 0;
}
.visual .images li img {
    max-width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.button-container svg {
    color: #1e272e;
    font-size: 40px; /* same height as inner and outer circles */
    cursor: pointer
} .button-container svg:hover {
    color: pink
}

.restart-btn svg {
    font-size: 25px;
    color: white;
}

.project-meta {
    width: 50%;
    margin: auto;
    text-transform: uppercase;
}

.project-meta > div {
    display: flex;
    justify-content: space-between;
} .project-meta > div p {
    color: #474747;
    font-size: 18px;
}

.active {
    text-decoration: underline;
}

.outer-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #1e272e;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} .inner-circle {
    background: #1e272e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} .inner-circle a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding: 15px 12px; /* did some trial and error here */
    animation: appear 1.5s;
}

@keyframes appear {
    from { opacity: 0; }
    to {opacity: 1; }
}

@media screen and (max-device-width: 768px) {
    .visual .text {
        position: initial;
    }

    .visual .tech-text, .visual .images, .project-meta {
        width: 90%;
    }

    .visual .tech-text {
        margin: 1em;
    } .visual .tech-text > * {
        font-size: 16.5px;
    }

    .visual .text {
        margin: unset;
        width: unset;
    } .visual .text p, .visual .text a {
        font-size: 18.5px;
    }

    .tech-font-size {
        font-size: 18.5px;
    }
}