.visual h1 {
    font-family: 'Merriweather', Helvetica, serif;
    text-align: center;
    text-transform: capitalize;
    margin: 5% 0 2.5% 0;
}

.back {
    cursor: pointer;
    background: #1e272e;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
    margin-top: 2em;
    font-size: 22.5px;
}

.visual .text {
    width: 32.5%;
    padding-left: 20px;
    float: left;
    position: fixed;
    top: 30%; /* arbitrary figure, proceed with caution */
    bottom: 0;
    overflow-y: auto;
    transition: .5s ease;
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
  }

#text-title {
    display: none;
    animation: appear 2s;
    text-align: left;
}

.visual .text p {
    font-size: 20px;
    margin: 5% 0;
}

.visual .text button {
    width: 100%;
    margin: 1em 0;
}

.visual .images {
    list-style: none;
    width: 65%;
    float: right;
}

.visual .images li {
    margin: 1% 0;
}
.visual .images li img {
    max-width: 100%;
}

@media screen and (max-device-width: 700px) {
    .visual .text {
        position: initial;
    }
}