.visual header {
    display: flex;
    align-items: center;
}

.visual header a {
    position: absolute;
    left: 5em;
}

.visual h2 {
    text-transform: capitalize;
    margin: 1em auto;
}

.back {
    cursor: pointer;
    background: #1e272e;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
    margin-top: 2em;
    font-size: 22.5px;
}

.visual .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 15%;
    text-align: justify;
}

.visual .text a {
    margin-top: 5em;
}

.visual .text p {
    font-size: 20px;
    margin: 1em;
}

.visual .text button {
    width: 100%;
    margin: 1em 0;
}

.visual .images {
    width: 50%;
    margin: auto
}

.visual .images li {
    margin: 1% 0;
}
.visual .images li img {
    max-width: 100%;
}

.active {
    text-decoration: underline;
}

.outer-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #1e272e;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} .inner-circle {
    background: #1e272e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} .inner-circle a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding: 15px 12px; /* did some trial and error here */
    animation: appear 1.5s;
}

@keyframes appear {
    from { opacity: 0; }
    to {opacity: 1; }
}

@media screen and (max-device-width: 700px) {
    .visual .text {
        position: initial;
    }
}