.works {
    display: flex;
    justify-content: center;
}

.works a {
    color: inherit;
    margin: 0 1.5%;
}

.works a li {
    width: 400px;
    height: 250px;
    overflow: scroll;
}

.works a li img {
    min-width: 100%;
    min-height: 100%;
}

.works li p {
    position: absolute;
}