.works {
    display: flex;
    justify-content: center;
}

.works li {
    width: 400px;
    height: 250px;
    overflow: scroll;
    margin: 0 5%;
}

.works li img {
    min-width: 100%;
    min-height: 100%;
}

.works li p {
    position: absolute;
}